<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>navBarTitle</key>
		<string>首页</string>
		<key>tabBarTitle</key>
		<string>首页</string>
		<key>tabBarImageName</key>
		<string>tabbar_1</string>
		<key>tabBarController</key>
		<string>ViewController</string>
	</dict>
	<dict>
		<key>navBarTitle</key>
		<string>关联店铺</string>
		<key>tabBarTitle</key>
		<string>关联店铺</string>
		<key>tabBarImageName</key>
		<string>tabbar_2</string>
		<key>tabBarController</key>
		<string>ViewController</string>
	</dict>
	<dict>
		<key>navBarTitle</key>
		<string>推广</string>
		<key>tabBarTitle</key>
		<string>推广</string>
		<key>tabBarImageName</key>
		<string>tabbar_3</string>
		<key>tabBarController</key>
		<string>ViewController</string>
	</dict>
</array>
</plist>
